[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true

[packages]
torch = {version = "==2.2.0+cu118", index = "pytorch"}
torchvision = {version = "==0.17.0+cu118", index = "pytorch"}
torchaudio = {version = "==2.2.0+cu118", index = "pytorch"}
optuna = "*"
mlflow = "*"
roboflow = "*"
numpy = "<2.0"
pandas = "*"
matplotlib = "*"
local-project = {editable = true, path = "."}
ray = {extras = ["tune"], version = "*"}
ultralytics = {ref = "main", git = "git+https://github.com/ultralytics/ultralytics.git"}

[dev-packages]

[requires]
python_version = "3.12"
